.boton-amarillo{
    @include boton($amarillo, inline-block);
}

.boton-amarillo{
    @include boton($amarillo, inline-block);
    margin-top: 2rem;
}
.boton-verde{
    @include boton($verde, inline-block);
    margin-top: 2rem;
    
}

.boton-rojo-block{
    @include boton($rojo,inline-block);
    margin-top: 2rem;
}

.boton-verde-block{
    @include boton($verde,block);
    
}

